@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6 class="display-4">Welcome to EweForum</h6>
    <p>Share, discuss and create</p>
    <img src="/images/ufosheep.png"  width=500 height=490 alt="Responsive image">
</div>
