@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<h3 class="base-heading text-center">Create a new account.</h3>
<section id="register">
    
    <div class="form-outer">
      
        <div class="form-inner">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-field" >
                  
                    <input asp-for="Input.Email" required class="form-input" placeholder="email" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-field">
                  
                    <input asp-for="Input.Password"  type="password" required class="form-input" placeholder="password" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-field">
                  
                    <input asp-for="Input.ConfirmPassword"  class="form-input" placeholder="confirm password" type="password" required autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="form-button">Register</button>
            </form>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
