@model Modal
<div class="form-modal">
	<div>
		@Model.Title
	</div>
	<div>
		<p>@Model.TextContent</p>
	</div>
	<div class="buttons">
		<button class="form-button">Cancel</button>
		<button class="form-button">Yes, I Confirm</button>
	</div>
</div>