.header{
    color:darkmagenta;
    background-color:transparent;
    padding:1.5rem;
    border-bottom:3px solid pink;
}
.main section {
   margin-top:1rem;
   width:100%;
}

.header .nav-item {
    color:magenta;
}

main .form-outer{
    display:flex;
    justify-content:center;

    
}
main .form-inner {
    flex-direction: column;
    justify-content: space-between;
    flex-basis:45%;
}
main .form-input {
    border: none;
    outline: none;
    border-bottom: 2px solid pink;
    margin: 10px;
    padding: 10px;
    width:100%;
 
}
input::file-selector-button {
    padding: 5px;
    outline: 2px solid pink;
    background-color: lightpink;
    float: right
}

main .form-textarea {
    border: 2px solid pink;
    outline: 2px solid pink;
    margin: 10px;
    padding: 5px;
    width: 100%;
}
main .form-textarea:focus {
  outline: 2px solid lightpink;   
}
main .form-select {
    border: none;
    outline: 2px solid pink;
    margin: 10px;
    border-radius: 0;
    padding: 10px;
    width: 100%;
}
main .form-select:focus {
    border: none;
    border-radius:0;
    outline: 2px solid pink;
    margin: 10px;
    padding: 10px;
    width: 100%;
    box-shadow:none;
}
.main .text-danger {
    width:min-content;
}
main .form-field :focus-within {
    font-weight:400
}

main .form-button, .modal-footer .form-button {
    padding: 10px;
    outline: 2px solid pink;
    background-color: lightpink;
    float: right
}
main .custom-p{
    font-weight:400;
    color:deeppink;
}
main .form-modal {
    display: flex;
    flex-direction: column;
    justify-items:center;
    justify-content:center;
    width: 40%;
    height: auto;
    z-index: 1;
    box-shadow: 2px 5px 16px -3px rgba(96,36,56,0.59);
    -webkit-box-shadow: 2px 5px 16px -3px rgba(96,36,56,0.59);
    -moz-box-shadow: 2px 5px 16px -3px rgba(96,36,56,0.59);
}
main a .edit{
    color:darkred;
}

main .form-warning{
    padding:10px;
    margin:10px;
    font-weight:500;
    border-left:2px solid hotpink;
    color:darkred;
    background-color:pink;
}
.edit{
    flex-direction:row
}
main .custom-modal {
    width: 75%;
    outline-color: hotpink;
    background-color:lavender;
    
}
main .custom-modal .modal-body{
    padding:3rem;
    margin:2rem;
}